
@{
    ViewData["Title"] = "ThankYouUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have successfully added a user to the database</h2><br />
<a asp-controller="Admin" asp-action="Index">Back to admin page</a>
